<%= render :partial => 'search_form' %>

<p id="notice"><%=  flash.now[:notice] if flash.now[:notice] %></p>


<%= display_heading_for_index(params[:name], @found) %>

<%= render :partial =>'product_table', :object => @products %>

<br/>
<%= link_to "Create new product", new_product_path %>