<%= render :partial => 'search' %>

<p id="notice"><%=  flash.now[:notice] if flash.now[:notice] %></p>


<% if @found %>
  <h1>Product Listing for '<%= params[:name] %>'<%= @found.to_s %></h1>
<% else %>
  <h1>Product Listing <%= @notfound.to_s %></h1>
<% end %>

<%= render :partial =>'product_table', :object => @products %>

<br/>
<%= link_to "Create new product", new_product_path %>