<%= render :partial => 'search' %>

<p id="notice"><%=  flash.now[:notice] if flash.now[:notice] %></p>


<% if @notfound %>
<h1>Product Listing</h1>
<% else %>
<h1>Product Listing based on search for '<%= params[:name] %>'</h1>
<% end %>

<%= render :partial =>'product_table', :object => @products %>

<br/>
<%= link_to "Create new product", new_product_path %>